html,
body {
  background: #1c1c1c;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select,
button,
label {
  outline: none;
  cursor: pointer;
}
select,
button,
label {
  -webkit-user-select: none;
}
input[type="checkbox"] {
  border: 1px solid #fff;
  background: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked {
  background: #fff;
}
a:visited {
  color: #fff;
}
.app * {
  box-sizing: border-box;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* Remove up/down arrows from input of type number. */
.no-spinner {
  -moz-appearance: textfield;
}

.control {
  border: 1px solid #909090;
  color: #fff;
  background: inherit;
  padding: 4px 8px;
  font-weight: 100;
  font-size: 1.1em;
  min-width: 50px;
}
.control:active,
.control:focus {
  border: 1px solid #1ba2f9;
  color: #1ba2f9;
}
.text-button {
  background: none;
  color: #fff;
  border: none;
  padding: 10px 13px;
  font-weight: 100;
  cursor: pointer;
}
.text-button:active {
  color: #1ba2f9;
}

.app {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.screen {
  padding: 10px;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  background: #222;
  color: #fff;
}
/* In desktop FF padding-bottom of absolute container doesn't work */
.screen::after {
  content: "";
  display: block;
  height: 70px;
}

/* Stream */
.stream {
}

/* Subtitle Section */
.subtitle-section {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #2c2c2c;
}

/* Subtitle */
.subtitle {
  font-size: 2em;
  line-height: 1.3;
  color: #909090;
}
.subtitle.is-primary {
  color: #fff;
}
.subtitle p {
  margin: 0;
  -webkit-user-select: none;
  white-space: pre-wrap;
}
.subtitle .word {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 2px;
}
.subtitle .word.is-selectable:active,
.subtitle .word.is-selectable.is-selected {
  background: #1ba2f9;
  color: #fff;
}
.subtitle .word.is-marked {
  font-weight: bold;
}
/* Translation */
.translation {
  display: inline-block;
  text-align: left;
  min-width: 50%;
}
.translation section p {
  margin-left: 20px;
}
.translation {
  display: inline-block;
  text-align: left;
  min-width: 50%;
}
.translation section p {
  margin-left: 20px;
}

/* History */
.history {
  padding-top: 55px;
}
.history .empty {
  text-align: center;
  margin-top: 30vh;
}
.history .history-section {
  text-align: left;
  padding: 15px 0;
  flex: 1;
}
.history .history-subtitle {
}
.history .date-separator {
  position: relative;
  text-align: center;
}
.history .date-separator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.history .date-separator span {
  position: relative;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  background: #222;
  color: rgba(255, 255, 255, 0.7);
}
.history .edit-mode-container {
  display: flex;
  cursor: pointer;
  /* Current width + input width to make text width remain the same and avoid jumps. */
  width: calc(100% + 36px);
}
.history .edit-mode-container input {
  align-self: center;
  margin: 0 10px;
  flex-shrink: 0;
}

/* History header */

.history-header .placeholder {
  flex: 1;
}
.history-header .title {
  padding: 10px 20px;
  text-align: center;
  flex: 1;
  color: #fff;
}
.history-header .button-container {
  flex: 1;
  flex-shrink: 0;
  text-align: right;
}
.history-header button {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
}
.history-header button.cta {
  color: #1ba2f9;
}

/* History footer */

.history-footer {
  justify-content: center;
}
.history-footer button {
  color: #1ba2f9;
}
.history-footer button[disabled] {
  color: rgba(255, 255, 255, 0.7);
}

/* Jumper */

.jumper-button {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  bottom: 70px;
  left: 50%;
  margin-left: -25px;
  background-image: url(../img/icons/arrows.svg);
  background-color: rgba(28, 28, 28, 0.9);
  transition: transform 200ms;
  transform: scale(0);
}
.jumper-button.show {
  transform: scale(1);
}
.jumper-button:active {
  background-image: url(../img/icons/arrows-active.svg);
}
/* Menu */
.menu {
}
.menu section {
  display: flex;
  margin-bottom: 20px;
}
.menu .column {
  flex: 1;
}
.menu .column:first-child {
  margin-right: 5%;
}
.menu label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
}
.menu select {
  width: 100%;
}
.menu hr {
  margin: 10px 0;
  height: 1px;
  border: none;
  background: #3e3e3e;
}

/* Auth */
.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 50px;
}
.login .welcome {
  max-width: 80vw;
  flex-grow: 0;
  flex-shrink: 0;
}
.login .help {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* Connect help */
.connect-help {
  color: #000;
  margin: 15px;
  padding-left: 1em;
  text-align: left;
}
.connect-help h2 {
  text-align: center;
}
.connect-help li {
  list-style-type: decimal;
}
.connect-help .actions-bar {
  text-align: right;
  margin: 10px 0 10px 0;
}
.connect-help .done {
  color: #000;
}

/* Main Navigation */
.main-nav {
  justify-content: space-around;
  text-align: center;
}
.main-nav button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  line-height: 1;
  padding: 27px 0 0 0;
  margin: 7px 0 3px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: no-repeat transparent top;
  background-size: 22px;
  border: none;
}
.main-nav button:active,
.main-nav button.selected {
  color: #1ba2f9;
}
.main-nav .stream-button {
  background-image: url(../img/icons/cinema.svg);
}
.main-nav .stream-button:active,
.main-nav .stream-button.selected {
  background-image: url(../img/icons/cinema-active.svg);
}

.main-nav .history-button {
  background-image: url(../img/icons/favorite.svg);
}
.main-nav .history-button:active,
.main-nav .history-button.selected {
  background-image: url(../img/icons/favorite-active.svg);
}

.main-nav .login-button {
  background-image: url(../img/icons/connection.svg);
}
.main-nav .login-button:active,
.main-nav .login-button.selected {
  background-image: url(../img/icons/connection-active.svg);
}

.main-nav .settings-button {
  background-image: url(../img/icons/tool.svg);
}
.main-nav .settings-button:active,
.main-nav .settings-button.selected {
  background-image: url(../img/icons/tool-active.svg);
}

.main-nav .feedback-button {
  background-image: url(../img/icons/speech-bubble.svg);
}
.main-nav .feedback-button:active,
.main-nav .feedback-button.selected {
  background-image: url(../img/icons/speech-bubble-active.svg);
}

/* Nav */
nav {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  background: rgba(28, 28, 28, 0.95);
  z-index: 1;
}
nav.top {
  top: 0;
  border-bottom: 1px solid #282828;
}
nav.bottom {
  bottom: 0;
  border-top: 1px solid #282828;
}

/* Dialog */
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog .window {
  border-radius: 5px;
  background: #fff;
  max-width: 94vw;
  max-height: 94vh;
}

/* Share reminder */
.share-reminder {
  text-align: center;
}
.share-reminder .social-share {
  margin: 0 10px;
}
.share-reminder .ssk-block {
  display: inline-block;
  width: 250px;
}
.share-reminder .ssk {
  margin-bottom: 10px;
}
.share-reminder .actions-bar {
  margin-bottom: 20px;
}
.share-reminder .control {
  color: #000;
}
.share-reminder .like-question {
  margin: 0 10px;
}
.share-reminder .no {
  margin-right: 10px;
}

/* Preload images to avoid flicker */
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/icons/arrows.svg) url(../img/icons/arrows-active.svg)
    url(../img/icons/cinema.svg) url(../img/icons/cinema-active.svg)
    url(../img/icons/connection.svg) url(../img/icons/connection-active.svg)
    url(../img/icons/tool.svg) url(../img/icons/tool-active.svg)
    url(../img/icons/speech-bubble.svg)
    url(../img/icons/speech-bubble-active.svg) url(../img/icons/favorite.svg);
}
