html, body {
  background: #1C1C1C;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-button {
  -webkit-user-select: none;
  outline: none;
  border: none;
  background: no-repeat center;
  cursor: pointer;
}
input {
  outline: none;
  border: 1px solid transparent;
}
.app * {
  box-sizing: border-box;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.no-spinner {
  -moz-appearance: textfield;
}

.app {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.screen {
  padding: 10px;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  background: #1C1C1C;
  color: rgba(144, 144, 144, 1);
}
/* In desktop FF padding-bottom of absolute container doesn't work */
.screen::after {
  content: "";
  display: block;
  height: 70px;
}

/* Stream */
.stream {
}
.stream > section {
  padding: 7px 0;
}
.stream > section.second .subtitle {
}
.stream > section:last-child .subtitle {
  color: #fff;
}
.subtitle p {
  text-align: center;
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  -webkit-user-select: none;
  white-space: pre-wrap;
}
.subtitle .word {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 2px;
}
.subtitle .word:active,
.subtitle .word.selected {
  background: #1BA2F9;
  cursor: pointer;
  color: #fff;
}
.translation {
}
.translation section p {
  margin-left: 20px;
}

/* Jumper */

.jumper-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 70px;
  left: 50%;
  margin-left: -25px;
  background-image: url(../img/icons/arrows.svg);
  background-color: rgba(28,28,28, 0.9);
  transition: transform 200ms;
  transform: scale(0);
}
.jumper-button.show {
  transform: scale(1);
}
.jumper-button:active {
  background-image: url(../img/icons/arrows-active.svg);
}
/* Menu */
.menu {
}
.menu section {
  margin-bottom: 20px;
}
.menu label,
.menu select {
  display: block;
  width: 100%;
}
.menu hr {
  margin-bottom: 20px;
  opacity: 0.5;
}

/* Auth */
.auth {
  text-align: center;
}
.auth form {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
}
.auth label {
  display: block;
  font-size: 2em;
  line-height: 2;
}
.auth input {
  font-size: 3em;
  line-height: 1.3;
  padding: 0 20px;
  text-align: left;
  border: 2px solid transparent;
  border-radius: 5px;
  width:3.2em;
}
.auth input:invalid {
  border-color: red;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(28,28,28,0.95);
  border-top: 1px solid rgba(62, 62, 62, 1);
}
.nav button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  line-height: 1;
  padding: 27px 0 0 0;
  margin: 7px 0 3px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-position: top;
  background-size: 22px;
}
.nav button:active,
.nav button.selected {
  color: #1BA2F9;
}
.nav .stream-button {
  background-image: url(../img/icons/cinema.svg);
}
.nav .stream-button:active,
.nav .stream-button.selected {
  background-image: url(../img/icons/cinema-active.svg);
}

.nav .auth-button {
  background-image: url(../img/icons/tool-1.svg);
}
.nav .auth-button:active,
.nav .auth-button.selected {
  background-image: url(../img/icons/tool-1-active.svg);
}

.nav .menu-button {
  background-image: url(../img/icons/tool.svg);
}
.nav .menu-button:active,
.nav .menu-button.selected {
  background-image: url(../img/icons/tool-active.svg);
}
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index:-1;
  content:
    url(../img/icons/arrows.svg)
    url(../img/icons/arrows-active.svg)
    url(../img/icons/cinema.svg)
    url(../img/icons/cinema-active.svg)
    url(../img/icons/tool-1.svg)
    url(../img/icons/tool-1-active.svg)
    url(../img/icons/tool.svg);
    url(../img/icons/tool-active.svg);
}
