html, body {
  background: #111;
  color: white;
}
.app * {
  box-sizing: border-box;
}
.subtitles {
  text-align: center;
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.subtitles p {
  margin: 0;
  -webkit-user-select: none;
}
.subtitles .word {
  cursor: pointer;
}
.subtitles .word.selected {
  background: #26ADE4;
  cursor: pointer;
}
.translation {
  padding: 10px 10px 70px 10px;
}
.translation section p {
  margin-left: 20px;
}
.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
  text-align: center;
  background: rgba(17,17,17, 0.8);
}
.nav button{
  width: 60px;
  height: 60px;
  -webkit-user-select: none;
  outline: none;
  border: none;
  background: no-repeat center;
  background-size: 70%;
  border-radius: 50%;
}
.nav button:active,
.nav button.selected {
  background-color: #26ADE4;
}
.nav .prev {
  background-image: url(../img/icons/circle-left.svg);
}
.nav .sync {
  margin: 0 20px;
  background-image: url(../img/icons/sync.svg);
}
.nav .next {
  background-image: url(../img/icons/circle-right.svg);
}
